body{
    font-family: sans-serif;
    text-align: center;
}
.container{
    display: flex;
}
.signup-form{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-pic img{
    width: 95%;
}
.signup-pic{
    margin-top: 120px;
    margin-left: 90px;
}
.signup-form input{
    margin-top: 20px;
}
.username{
    width: 250px;
}
.contact{
    width: 250px;
}
.email{
    width: 250px;
}
.password{
    width: 250px;
}
.signin{
    margin-top: 30px;
}
.signin a{
    text-decoration: none;
}